language: python
python:
  - "2.7"
sudo: true

before_install:
  - if [ $TRAVIS_BUILD_STAGE_NAME != "Deploy" ]; then ./install-redis.sh; fi

install:
  - pip install pipenv
  - pipenv install
  - if [ $LEGACY_REDIS -eq 1 ]; then pipenv run pip install redis==2.10.6; fi

env:
  - LEGACY_REDIS=0
  - LEGACY_REDIS=1

script:
  - pipenv run python setup.py test

jobs:
  include:
    - stage: deploy
      provider: script
      on:
        branch: main
      script:
        - make -C docs html
        - ghp-import -n docs/_build/html
        - git push -fq https://$GH_TOKEN@github.com/$TRAVIS_REPO_SLUG.git gh-pages
