alabaster==0.7.10
appdirs==1.4.3
Babel==2.5.3
byteplay==0.2
docutils==0.14
ghp-import==0.5.5
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
msgpack-python==0.5.6
packaging==17.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinx-rtd-theme==0.3.1
sphinxjp.themes.basicstrap==0.4.3
-e git+https://github.com/michaelmior/sully.git@c49dc727b40d22f11305433bfd988f425feca248#egg=sully
