alabaster==0.7.6
Babel==2.1.1
byteplay==0.2
docutils==0.12
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.6
Pygments==2.0.2
pyparsing==1.5.7
pytz==2015.7
redis==2.10.3
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.3
sphinx-rtd-theme==0.1.9
-e git+https://github.com/michaelmior/sully.git@c49dc727b40d22f11305433bfd988f425feca248#egg=sully-master
wheel==0.24.0
